[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Bisztyga
[access "refs/for/refs/*"]
	read = group user/Bisztyga
	push = group user/Bisztyga
	label-Code-Review = -2..+2 group user/Bisztyga
	label-Verified = -1..+1 group user/Bisztyga
	rebase = group user/Bisztyga
	removeReviewer = group user/Bisztyga
	submit = group user/Bisztyga
[access "refs/heads/*"]
	read = group user/Bisztyga
	create = group user/Bisztyga
	push = +force group user/Bisztyga
	pushMerge = group user/Bisztyga
[access "refs/tags/*"]
	push = group user/Bisztyga
	push = +force group user/Bisztyga
